name: Project Autobuild
run-name: Project Autobuilder
on: [push]

jobs:
  Build-Windows:
    runs-on: windows-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
  
    - name: Set up Python 3.13.7
      uses: actions/setup-python@v5
      with:
        python-version: "3.13.7"
        architecture: "amd64"
        cache: "pip"
  
    - name: Install Requirements
      run: "pip install -r requirements.txt"

    - name: Compile Project
      run: 'python -m nuitka --mode=onefile --output-dir="output" --output-filename="${{ runner.os }}_${{ runner.arch }}_${{ github.sha }}" --deployment dvd-mouse.pyw'

    - name: Upload Artifacts
      uses: actions/upload-artifact@v6.0.0
      with:
        name: ${{ runner.os }}_${{ runner.arch }}_${{ github.sha }}
        path: output/${{ runner.os }}_${{ runner.arch }}_${{ github.sha }}.exe

    - name: Delete garbage
      run: 'rm "${{ runner.os }}_${{ runner.arch }}_${{ github.sha }}.exe"'
  
  Build-Macos:
    runs-on: macos-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
  
    - name: Set up Python 3.13.7
      uses: actions/setup-python@v5 
      with:
        python-version: "3.13.7"
        architecture: "arm64"
        cache: "pip"
  
    - name: Install Requirements
      run: "pip install -r requirements.txt"

    - name: Compile Project
      run: 'python -m nuitka --mode=app --output-dir="output" --output-filename="${{ runner.os }}_${{ runner.arch }}_${{ github.sha }}" --assume-yes-for-downloads --deployment dvd-mouse.pyw'

    - name: Upload Artifacts
      uses: actions/upload-artifact@v6.0.0
      with:
        name: ${{ runner.os }}_${{ runner.arch }}_${{ github.sha }}
        path: output/**

    - name: Delete garbage
      run: 'rm -rf output/'

  Build-Linux:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
  
    - name: Set up Python 3.13.7
      uses: actions/setup-python@v5 
      with:
        python-version: "3.13.7"
        architecture: "amd64"
        cache: "pip"
  
    - name: Install Requirements
      run: "pip install -r requirements.txt"

    - name: Compile Project
      run: 'python -m nuitka --mode=onefile --output-dir="output" --output-filename="${{ runner.os }}_${{ runner.arch }}_${{ github.sha }}" --deployment dvd-mouse.pyw'

    - name: Upload Artifacts
      uses: actions/upload-artifact@v6.0.0
      with:
        name: ${{ runner.os }}_${{ runner.arch }}_${{ github.sha }}
        path: output/${{ runner.os }}_${{ runner.arch }}_${{ github.sha }}

    - name: Delete garbage
      run: 'rm "${{ runner.os }}_${{ runner.arch }}_${{ github.sha }}"'
